#design-stack{
    .stack{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;

        @include md{
            justify-content: space-evenly;
        }
    }

    .group{
        width: 250px;
        display: flex;
        gap: 10px;
        .image{
            width: 60%;
            p{
                text-align: center;
            }
            img{
                width: 100%;
            }
        }

        ul{
            transform: translateY(15px);
            li{
                font-size: 15px;
            }
        }
    }
}