/* Hero section */
header {
    position: relative;
    width: 100vw;
    overflow: hidden;
    nav{
        position: relative;
        z-index: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            font-size: 30px;
            font-weight: 900;
        }

        ul{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            opacity: 0;
            width: calc(100% + 20px);
            top: -10px;
            left: calc(100% + 10px);
            height: 90vh;
            border-radius: $border-radius-20;
            background-color: hsla(0 0% 100%/ 0.1);
            backdrop-filter: blur(2rem);
            transition: $transition;

            &.active{
                opacity: 1;
                transform: translateX(-100%);
                transition: $transition;
            }
        }
        
        @include md{
            p{
                display: none;
            }
            ul{
                opacity: 1;
                background-color: transparent;
                position: inherit;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 25px;
                width: auto;
                top: auto;
                left: auto;
                height: auto;
                li a{
                    color: $secondary;
                    &:hover{
                        color: $secondary-accentuation;
                    }
                    
                    &.active{
                        color: white;
                    }
                }
            }
        }
    }
}

#hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    &> img{
        position: absolute;
        top: 0;
        height: 100vh;
        right: -125%
    }

    @include md{
        min-height: auto;
        &> img{
            top: 0;
            height: auto;
            width: min(60%, 650px);
            right: 0;
        }
    }
}
.profile-introduction {
    .profile-picture{
        position: relative;
        display: flex;
        height: 30vh;
        img{
            z-index: 2;
            width: 8rem;
            border-radius: $border-radius-round;
            align-self: flex-end;
            border: 5px solid $red;
        }
    
        &::after{
            position: absolute;
            content: 'HI';
            font-size: 200px;
            color: white;
            mix-blend-mode: overlay;
            font-weight: 900;
            top: 0;
            left: 20%;
        }

        @include md{
            height: 35vh;
            img{
                width: 6rem;
                border: 3px solid $red;
            }
            &::after{
                position: absolute;
                content: 'HI';
                font-size: 400px;
                color: white;
                mix-blend-mode: overlay;
                font-weight: 600;
                top: -210px;
                left: -25px;
            }
        }
    }

    span{
        position: relative;

        img{
            position: absolute;
            width: 115%;
            top: 80%;
            background-color: transparent;
            right: 0;
        }
    }
}

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-items: flex-end;

    p{
        font-size: 13px;
        font-weight: 600;
        color: $secondary;
        width: 80px;
        padding-bottom: 5px;
        border-bottom: $border-20 solid $red;
    }
}
// The hamburger
.hamburger{
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-accentuation;
    border: none;
    border-radius: $border-radius-round;
}
.hamburger span{
    position: relative;
    width: 2.5rem;
    height: 5px;
    border: none;
    background-color: #fff;
    border-radius: $border-radius-20;
    transform: translateY(-6px);
    transition: $transition;

    &::after{
        content: '';
        position: absolute;
        height: inherit;
        width: 2rem;
        background-color: inherit;
        border-radius: inherit;
        right: 0;
        top: 0;
        transform: translateY(12px);
        transition: $transition;
    }

    &.active{
        transform: rotate(-45deg);
        transition: $transition;
        &::after{
            content: '';
            width: inherit;
            transform: rotate(90deg);
            position: absolute;
            transition: $transition;
        }
    }

    @include md{
        display: none;
    }
}